*~
*.pyc
*.pyo
*.tmp*
*.mo
*.egg
*.EGG
*.egg-info
*.EGG-INFO
*.kpf
*.swp
*.wpr
.*.cfg
.installed.cfg
.mr.developer.cfg
.hg/
.bzr/
.svn/
.project
.pydevproject
*.sublime-workspace
pip-selfcheck.json
bin/
build/
develop-eggs/
dist/
downloads/
docs/_build/
eggs/
fake-eggs/
include/
lib/
local/
parts/
var/



# OSX
.DS_Store
