[buildout]

auto-checkout =
################# Diazo themes
#    chalkboardtheme_plone
    plonetheme.amherst
    plonetheme.aqueouslight
    plonetheme.armadillotec
    plonetheme.bananaleaf
    plonetheme.burned
    plonetheme.codapress
    plonetheme.coolblue
    plonetheme.darkened
    plonetheme.diazo_sunburst
    plonetheme.discovery
    plonetheme.earthlingtwo
    plonetheme.evergreen
    plonetheme.flowerbuds
    plonetheme.freshpick
#    plonetheme.gestured
    plonetheme.grungeera
    plonetheme.keepitsimple
    plonetheme.leavesdew
    plonetheme.motion
    plonetheme.redmusic
    plonetheme.pythonmexico
    plonetheme.pollination
    plonetheme.plumigreen
    plonetheme.unbound11
    plonetheme.unilluminated
    plonetheme.transition
    plonetheme.woodexperience
    plonetheme.yoko

#    beyondskins.brasilia
#    beyondskins.phantasmagoria
#    beyondskins.happy
#    beyondskins.colors
#    beyondskins.sports
#    beyondskins.sunflower
#    beyondskins.beyondskins
    beyondskins.responsive
#    beyondskins.lostkatana
#    beyondskins.minimalist

################# Diazo theme with CSS Framework
    diazoframework.amazium
    diazoframework.baseline
    diazoframework.bootstrap
    diazoframework.foundation
    diazoframework.goldilocks
    diazoframework.kube
    diazoframework.plone
    diazoframework.purecss
    diazoframework.skeleton

#    diazotheme.frameworks
    diazotheme.framework.cascade
    diazotheme.framework.gumby
    diazotheme.framework.ivory
    diazotheme.framework.metro
    diazotheme.framework.wirefy
    diazotheme.framework.yaml4

    diazotheme.amazium
    diazotheme.baseline
    diazotheme.bootstrap
    diazotheme.bootswatch
#    diazotheme.default
    diazotheme.foundation
    diazotheme.goldilocks
#    diazotheme.initializr
    diazotheme.kube
    diazotheme.plone
    diazotheme.purecss
    diazotheme.skeleton
#    diazotheme.startup

################# pre-processor CSS Less
    collective.lesscss
    example.bootstrap

################# Plone theme skins
    quintagroup.theme.sunrain
    quintagroup.theme.schools
    quintagroup.theme.pythonreel
    plonetheme.aclark_twitter
    plonetheme.drupal
    plonetheme.trantor

################# Custom Diazo themes
    plonetheme.changecenter
    plonetheme.unam
    plonetheme.zopeorg

################# Theming tools
#    medialog.googlefonts
    Products.Doormat
    collective.megadrop
    kombinat.decogrid

################# Plone True Gallery
#    collective.js.supersized

################# JQuery.ui's themeroller tools
    zettwerk.ui

################# jQueryMobile's themeroller tools
    zettwerk.mobile

################# Mobile Theming tools
    zettwerk.mobiletheming
    medialog.mobilethemeTwo

eggs = 
################# Plone theme skins
    quintagroup.theme.estatelite
    quintagroup.theme.lite
    quintagroup.theme.techlight
    quintagroup.theme.whiteblack

################# Diazo theme with CSS Framework
    vs.bootstrap.tinymce

################# Theming tools
    collective.cover
    collective.fontawesome
    medialog.googlefonts
    collective.behavior.localdiazo
    collective.behavior.localskin
    openmultimedia.headband
    Products.ContentWellPortlets
#    quintagroup.portletmanager.footer
    webcouturier.dropdownmenu

################# Slider Tag
    collective.easyslider
    collective.easytemplate

################# Plone True Gallery
    collective.plonetruegallery
    collective.ptg.highslide
    collective.ptg.fancybox
    collective.ptg.galleriffic
    collective.ptg.s3slider
    collective.ptg.pikachoose
    collective.ptg.nivoslider
    collective.ptg.nivogallery
    collective.ptg.contentflow
    collective.ptg.supersized
    collective.ptg.thumbnailzoom
    collective.ptg.contactsheet
    collective.ptg.galleria
    collective.ptg.carousel
    collective.ptg.uigallery
    collective.ptg.sheetgallery
    collective.ptg.scrollable
    collective.ptg.presentation
    collective.ptg.allnewest
    collective.ptg.easyslider
    collective.ptg.bootstrapcarousel
    collective.ptg.contentleadimage
    collective.ptg.flickr
    collective.ptg.galleryfolder
    collective.ptg.galleryimage
    collective.ptg.garagedoor
    collective.ptg.picasa
    collective.ptg.quicksand
    collective.ptg.shufflegallery
    collective.ptg.simplegallery
    collective.js.supersized

################# Mobile Theming tools
#    uwosh.mobile.tools

zcml =
################# Theming tools
    Products.ContentWellPortlets
#    quintagroup.portletmanager.footer

################# Mobile Theming tools
#    uwosh.mobile.tools

# Put your mr.developer managed source code repositories here, see
# http://pypi.python.org/pypi/mr.developer for details on format for this part
[sources]
################# Generic Diazo themes
#chalkboardtheme_plone = git https://github.com/tkimnguyen/chalkboardtheme_plone.git
plonetheme.amherst = git https://github.com/collective/plonetheme.amherst.git
plonetheme.aqueouslight = git https://github.com/collective/plonetheme.aqueouslight.git
plonetheme.armadillotec = git https://github.com/macagua/plonetheme.armadillotec.git
plonetheme.bananaleaf = git https://github.com/collective/plonetheme.bananaleaf.git
plonetheme.burned = git https://github.com/collective/plonetheme.burned.git
plonetheme.codapress = git https://github.com/collective/plonetheme.codapress.git
plonetheme.coolblue = git https://github.com/collective/plonetheme.coolblue.git
plonetheme.darkened = git https://github.com/collective/plonetheme.darkened.git
plonetheme.diazo_sunburst = git https://github.com/aclark4life/plonetheme.diazo_sunburst.git
plonetheme.discovery = git https://github.com/collective/plonetheme.discovery.git
plonetheme.earthlingtwo = git https://github.com/collective/plonetheme.earthlingtwo.git
plonetheme.evergreen = git https://github.com/collective/plonetheme.evergreen.git
plonetheme.flowerbuds = git https://github.com/collective/plonetheme.flowerbuds.git
plonetheme.freshpick = git https://github.com/collective/plonetheme.freshpick.git
#plonetheme.gestured = git https://github.com/dante1987/plonetheme.gestured.git
plonetheme.grungeera = git https://github.com/collective/plonetheme.grungeera.git
plonetheme.keepitsimple = git https://github.com/collective/plonetheme.keepitsimple.git
plonetheme.leavesdew = git https://github.com/collective/plonetheme.leavesdew.git
plonetheme.motion = git https://github.com/davilima6/plonetheme.motion.git
plonetheme.redmusic = git https://github.com/giacomos/plonetheme.redmusic.git
plonetheme.pythonmexico = git https://github.com/PythonMexico/plonetheme.pythonmexico.git
plonetheme.pollination = svn http://svn.plone.org/svn/collective/plonetheme.pollination/trunk/
plonetheme.plumigreen = git https://github.com/garbas/plonetheme.plumigreen.git
plonetheme.unbound11 = git https://github.com/a-pasquale/plonetheme.unbound11.git
plonetheme.unilluminated = git https://github.com/collective/plonetheme.unilluminated.git
plonetheme.transition = git https://github.com/gyst/plonetheme.transition.git
plonetheme.woodexperience = git https://github.com/redomino/plonetheme.woodexperience.git
plonetheme.yoko = git https://github.com/tisto/plonetheme.yoko.git

################# Beyondskins Diazo themes
#beyondskins.brasilia = git https://github.com/simplesconsultoria/beyondskins.brasilia.git
#beyondskins.phantasmagoria = git https://github.com/simplesconsultoria/beyondskins.phantasmagoria.git
#beyondskins.happy = git https://github.com/simplesconsultoria/beyondskins.happy.git
#beyondskins.colors = git https://github.com/simplesconsultoria/beyondskins.colors.git
#beyondskins.sports = git https://github.com/simplesconsultoria/beyondskins.sports.git
#beyondskins.sunflower = git https://github.com/simplesconsultoria/beyondskins.sunflower.git
#beyondskins.beyondskins = git https://github.com/simplesconsultoria/beyondskins.beyondskins.git
beyondskins.responsive = git https://github.com/simplesconsultoria/beyondskins.responsive.git
#beyondskins.lostkatana = git https://github.com/simplesconsultoria/beyondskins.lostkatana.git
#beyondskins.minimalist = git https://github.com/simplesconsultoria/beyondskins.minimalist.git

################# Diazo theme with CSS Framework
diazotheme.amazium = git https://github.com/TH-code/diazotheme.amazium.git
#diazotheme.baseline = git https://github.com/TH-code/diazotheme.baseline.git
diazotheme.baseline = git https://github.com/Covantec/diazotheme.baseline.git
#diazotheme.bootstrap = git https://github.com/TH-code/diazotheme.bootstrap.git
diazotheme.bootstrap = git https://github.com/Covantec/diazotheme.bootstrap.git
diazotheme.bootswatch = git https://github.com/TH-code/diazotheme.bootswatch.git
#diazotheme.default = git https://github.com/TH-code/diazotheme.default.git
diazotheme.foundation = git https://github.com/TH-code/diazotheme.foundation.git
diazotheme.goldilocks = git https://github.com/TH-code/diazotheme.goldilocks.git
#diazotheme.initializr = git https://github.com/TH-code/diazotheme.initializr.git
diazotheme.kube = git https://github.com/TH-code/diazotheme.kube.git
diazotheme.plone = git https://github.com/TH-code/diazotheme.plone.git
diazotheme.purecss = git https://github.com/TH-code/diazotheme.purecss.git
diazotheme.skeleton = git https://github.com/TH-code/diazotheme.skeleton.git
#diazotheme.startup = git https://github.com/TH-code/diazotheme.startup.git


################# CSS Framework as Diazo resources
diazoframework.amazium = git https://github.com/TH-code/diazoframework.amazium.git
#diazoframework.baseline = git https://github.com/TH-code/diazoframework.baseline.git
diazoframework.baseline = git https://github.com/Covantec/diazoframework.baseline.git
diazoframework.bootstrap = git https://github.com/TH-code/diazoframework.bootstrap.git
diazoframework.foundation = git https://github.com/TH-code/diazoframework.foundation.git
diazoframework.goldilocks = git https://github.com/TH-code/diazoframework.goldilocks.git
diazoframework.kube = git https://github.com/TH-code/diazoframework.kube.git
diazoframework.plone = git https://github.com/TH-code/diazoframework.plone.git
diazoframework.purecss = git https://github.com/TH-code/diazoframework.purecss.git
diazoframework.skeleton = git https://github.com/TH-code/diazoframework.skeleton.git

################# Others CSS Framework as Diazo resources
#diazotheme.frameworks = git https://github.com/TH-code/diazotheme.frameworks.git
diazotheme.framework.cascade = git https://github.com/TH-code/diazotheme.framework.cascade.git
diazotheme.framework.gumby = git https://github.com/TH-code/diazotheme.framework.gumby.git
diazotheme.framework.ivory = git https://github.com/TH-code/diazotheme.framework.ivory.git
diazotheme.framework.metro = git https://github.com/TH-code/diazotheme.framework.metro.git
diazotheme.framework.wirefy = git https://github.com/TH-code/diazotheme.framework.wirefy.git
diazotheme.framework.yaml4 = git https://github.com/TH-code/diazotheme.framework.yaml4.git

################# pre-processor CSS Less
collective.lesscss = git https://github.com/collective/collective.lesscss.git
example.bootstrap = git https://github.com/sneridagh/example.bootstrap.git

################# Plone theme skins
quintagroup.theme.sunrain = git https://github.com/quintagroup/quintagroup.theme.sunrain.git
quintagroup.theme.schools = git https://github.com/quintagroup/quintagroup.theme.schools.git
quintagroup.theme.pythonreel = git https://github.com/quintagroup/quintagroup.theme.pythonreel.git
plonetheme.aclark_twitter = git https://github.com/collective/plonetheme.aclark_twitter.git
plonetheme.drupal = git https://github.com/sylvainb/plonetheme.drupal.git
plonetheme.trantor = git https://github.com/tristanlt/plonetheme.trantor.git

################# Custom Diazo themes
plonetheme.changecenter = git https://github.com/collective/plonetheme.changecenter.git
plonetheme.unam = git https://github.com/imatem/plonetheme.unam.git
plonetheme.zopeorg = git https://github.com/d2m/plonetheme.zopeorg.git

################# Theming tools
medialog.googlefonts = git https://github.com/collective/medialog.googlefonts.git
Products.Doormat = git https://github.com/collective/Products.Doormat.git
collective.megadrop = git https://github.com/collective/collective.megadrop.git
kombinat.decogrid = git https://github.com/collective/kombinat.decogrid.git
#ploomcake.theme_collection_accessibility = git https://github.com/ploomcake/ploomcake.theme_collection_accessibility.git

################# Plone True Gallery
#collective.js.supersized = git https://github.com/collective/collective.js.supersized.git

################# Slider Tag
collective.easyslider = git https://github.com/collective/collective.easyslider.git

################# JQuery.ui's themeroller tools
zettwerk.ui = git https://github.com/collective/zettwerk.ui.git

################# jQueryMobile's themeroller tools
zettwerk.mobile = git https://github.com/collective/zettwerk.mobile.git

################# Mobile Theming tools
zettwerk.mobiletheming = git https://github.com/collective/zettwerk.mobiletheming.git
medialog.mobilethemeTwo = git https://github.com/espenmn/medialog.mobilethemeTwo.git
